<!doctype html>
<% include includes/template/signature.ejs %>
<html lang="en">

  <head>
    <% include includes/template/head.ejs %>
    <script src="/js/imageOverlay.js" type="text/javascript"></script>
  </head>

  <body id="<%= pageID %>">

    <header>
      <% include includes/template/header.ejs %>
    </header>

    <main>
      <% aboutAll.forEach(function(item) { %>
      <article id="about-me">
        
        <section id="interests" class="left-column">
          <h1 class="underline"><%= pageTitle %></h1>
            <%- item.copy %>
        </section>

        <section id="images" class="right-column">
          <div class="img-parallax">
            <% item.images.forEach(function(subitem) { %>
            <figure class="img-slide overlayLink">
              <div class="aspect-ratio">
              <img data-src="<%= defaultResources %>/images/about-me/<%= subitem[0] %>_tn<%= subitem[1] %>">
            </div>
            </figure>
            <% }); %>
          </div>
        </section>

      </article>

      <div class="img-overlay">
        <div class="img-overlay-box">
          <% item.images.forEach(function(subitem) { %>
          <img data-src="<%= defaultResources %>/images/about-me/<%= subitem[0] %><%= subitem[1] %>">
          <% }); %>
        </div>
        <div class="img-overlay-left">
          <div class="img-overlay-btns"><!-- left navigate -->&#10092;</div>
        </div>
        <div class="img-overlay-right">
          <div class="img-overlay-btns"><!-- right navigate -->&#10093;</div>
        </div>
        <div class="img-overlay-close img-overlay-btns">
           &#10005;
        </div>
      </div>
      <% }); %>
    </main>
    <% include includes/template/footer.ejs %>

  </body>

</html>