<!doctype html>
<% include includes/template/signature.ejs %>
<html lang="en">

  <head>
    <% include includes/template/head.ejs %>
  </head>

  <body id="<%= pageID %>">
    <% include includes/template/header.ejs %>
    <main>
      <article id="about-me" class="left-column">
        <h1 class="underline"><%= pageTitle %></h1>
        <section id="interests">
          <p>About me interestes copy here</p>
        </section>
      </article>
      <article id="images" class="right-column">
        <div class="img-parallax">
          <figure class="img-slide">
            <img data-src="<%= defaultResources %>/images/gallery-test/banff1.jpg">
          </figure>
          <figure class="img-slide">
            <img data-src="<%= defaultResources %>/images/gallery-test/banff2.jpg">
          </figure>
          <figure class="img-slide">
            <img data-src="<%= defaultResources %>/images/gallery-test/banff3.jpg">
          </figure>
          <figure class="img-slide">
            <img data-src="<%= defaultResources %>/images/gallery-test/banff4.jpg">
          </figure>
          <figure class="img-slide">
            <img data-src="<%= defaultResources %>/images/gallery-test/banff5.jpg">
          </figure>
          <figure class="img-slide">
            <img data-src="<%= defaultResources %>/images/gallery-test/banff6.jpg">
          </figure>
          <figure class="img-slide">
            <img data-src="<%= defaultResources %>/images/gallery-test/banff7.jpg">
          </figure>
          <figure class="img-slide">
            <img data-src="<%= defaultResources %>/images/gallery-test/banff8.jpg">
          </figure>
        </div>
      </article>
      <div class="img-overlay">
        <div class="img-overlay-box">
          <img data-src="">
          <div class="img-overlay-left">
            <div class="img-overlay-btns"><!-- left navigate -->&#10092;</div>
          </div>
          <div class="img-overlay-right">
            <div class="img-overlay-btns"><!-- right navigate -->&#10093;</div>
          </div>
          <div class="img-overlay-close img-overlay-btns">
            &#10005;
          </div>
        </div>
      </div>
    </main>
    <% include includes/template/footer.ejs %>

  </body>

</html>