<!doctype html>
<% include includes/template/signature.ejs %>
<html lang="en">

  <head>
    <% include includes/template/head.ejs %>
  </head>

  <body id="<%= pageID %>" class="<%= pageVer %>">
    <header>
      <% include includes/template/header.ejs %>
    </header>
    <main>
      <article>
        <section id="contact-input" class="left-column">
          <h1 class="underline"><%= pageTitle %></h1>
          <div class="tycopy">
            <p>
              Your message has been sent. <br>I'll respond as soon as I can.
            </p>
            <blockquote>
              &ldquo;<%= messageEmail %>&rdquo;
            </blockquote>
          </div>
          <form id="contact-form" action="<%= emailGetURL %>" method="get">
            <p>
              Interested in working together? Please fill out the form below and I will respond as soon as I can.
            </p>
            <!-- HTML5 constraint validation API -->
            <p>
              <label for="name">Name</label>
              <input type="text" name="name" id="name" required autocomplete="name" placeholder="Full Name" maxlength="50">
            </p>
            <p>
              <label for="from">Email</label>
              <input type="email" name="from" id="from" required autocomplete="email" placeholder="Email" maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            </p>
            <p>
              <label for="subject">Subject</label>
              <input type="text" name="subject" id="subject" required placeholder="Subject..." maxlength="200">
            </p>
            <p>
              <label for="message">Message</label>
              <textarea name="message" id="message" required placeholder="Message..." maxlength="1000"></textarea>
            </p>
            <p>All fields are required</p>
            <p>
              <button class="clear" id="clear" type="reset" form="contact-form">clear</button>
              <button class="submit" id="submit" type="submit" form="contact-form">submit</button>
            </p>
          </form>
        </section>
        <section id="contact-links" class="right-column">
          <!-- Removed Links for security purposes, see past git commit to recall -->
        </section>
      </article>
    </main>
    <% include includes/template/footer.ejs %>

  </body>

</html>