<!doctype html>
<% include includes/template/signature.ejs %>
<html lang="en">

  <head>
    <% include includes/template/head.ejs %>
  </head>

  <body id="<%= pageID%>">

    <header>
      <% include includes/template/header.ejs %>
    </header>

    <main>
      <article id="introduction">
        <section class="left-column">
          <h1><strong>Web Developer</strong> with over a decade of experience in ecommerce websites, marketing micro-sites and web ads, taking creative design to functional web entities. Adept at leading large initiatives, managing offshore talent, exceeding client expectations, directing workflow and debugging. I have an eye for creative layout while coding for reusability, simplicity and speed. I enjoy solving problems in an elegant, streamlined fashion and continuing to learn new technologies and techniques.</h1>
          <hr>
          <figure class="sec-figure">
            <a href="/about-me/" class="image">
              <img src="<%= defaultResources %>/images/homepage/jon_headshot-2.jpg">
            </a>
            <figcaption>
              <div>
                <a href="/about-me/" class="title">About Me</a>
                <p>From building model aircraft as a child to working as a front end developer. Find out more about me <a href="/about-me/">here</a>.</p>
              </div>
            </figcaption>
          </figure>
          <figure class="sec-figure">
            <a href="/portfolio/" class="image">
              <img src="<%= defaultResources %>/images/homepage/applepay.jpg">
            </a>
            <figcaption>
              <div>
                <a href="/portfolio/" class="title">Portfolio</a>
                <p><a href="/portfolio/">Here</a> you'll find my latest projects with a description, tasks and screen shots.</p>
              </div>
            </figcaption>
          </figure>
          <figure class="sec-figure">
            <a href="/about-site/" class="image">
              <img src="<%= defaultResources %>/images/homepage/webwork.jpg">
            </a>
            <figcaption>
              <div>
                <a href="/about-site/" class="title">About this site</a>
                <p><a href="/about-site/">Click here</a> to read up on how I created this website and why I chose certain styles and technologies.</p>
              </div>
            </figcaption>
          </figure>
          <hr>
        </section>

        <section id="images" class="right-column">
          <div class="img-parallax ">
            <figure class="img-slide">
              <div class="aspect-ratio">
                <a href="/about-me/"><img data-src="<%= defaultResources %>/images/homepage/jon-canyon_tn.jpg"></a>
              </div>
            </figure>
            <figure class="img-slide">
              <div class="aspect-ratio">
                <a href="/portfolio/"><img data-src="<%= defaultResources %>/images/homepage/applePay_tn.jpg"></a>
              </div>
            </figure>
            <figure class="img-slide">
              <div class="aspect-ratio">
                <a href="/about-me/"><img data-src="<%= defaultResources %>/images/homepage/172panel_tn.jpg"></a>
              </div>
            </figure>
            <figure class="img-slide">
              <div class="aspect-ratio">
                <a href="/portfolio/"><img data-src="<%= defaultResources %>/images/homepage/peshop_tn.jpg"></a>
              </div>
            </figure>
            <figure class="img-slide">
              <div class="aspect-ratio">
                <a href="/about-me/"><img data-src="<%= defaultResources %>/images/homepage/westervelt_tn.jpg"></a>
              </div>
            </figure>
            <figure class="img-slide">
              <div class="aspect-ratio">
                <a href="/portfolio/"><img data-src="<%= defaultResources %>/images/homepage/adlibrary_tn.jpg"></a>
              </div>
            </figure>
          </div>
        </section>
      </article>
    </main>
    <% include includes/template/footer.ejs %>

  </body>

</html>