<!doctype html>
<% include includes/template/signature.ejs %>
<html lang="en">

  <head>
    <% include includes/template/head.ejs %>
  </head>

  <body id="<%= pageID %>">
    <% include includes/template/header.ejs %>
    <main>
      <article id="category-results" class="full-column">
        <h1><%= pageTitle %></h1>
        <section class="item-grid img-parallax">
            <% if (itemsAll.length > 0) { %> 
              <% itemsAll.forEach(function(item) { %>
              <a href="/projects/<%= item.shortname %>">
                <% if(item.images[0][1] === ".html" || item.images[0][1] === ".js" || item.images[0][1] === ".css") { %>
                <figure class="img-slide iframe">
                  <div class="aspect-ratio">
                    <iframe width="447" height="320" class="iframeSampleCode" src="<%= item.images[0][0] %><%= item.images[0][1] %>" scrolling="no"></iframe>
                  </div>
                  <div class="iframe-click"><!-- invisible click object to above iFrame --></div>
                </figure>
                <% } else { %>
                <figure class="img-slide">
                  <img data-src="<%= defaultResources %>/images/portfolio/<%= item.images[0][0] %>_tn<%= item.images[0][1] %>" alt="Thumbnail Image">
                </figure>
                <% } %>
                <figcaption><%= item.title %></figcaption>
              </a>
              <% }); %>
            <% } %>
        </section>
      </article>
    </main>
    <% include includes/template/footer.ejs %>
  </body>

</html>