<!doctype html>
<% include includes/template/signature.ejs %>
<html lang="en">

  <head>
    <% include includes/template/head.ejs %>
  </head>

  <body id="<%= pageID %>">
    <header>
      <% include includes/template/header.ejs %>
    </header>
    
    <main>
      <article id="category-results">
        <section class="full-column">
          <h1 class="underline"><%= pageTitle %></h1>
          <div class="item-grid img-parallax">
            <% if (itemsAll.length > 0) { %> 
              <% itemsAll.forEach(function(item) { %>
              <a href="/projects/<%= item.shortname %>">
                <figure class="img-slide">
                  <div class="aspect-ratio">
                    <% if(item.images[0][1] === ".html") { %>
                    <img data-src="<%= defaultResources %>/images/portfolio/js-thumbnail.png">
                    <% } else if(item.images[0][1] === ".svg") { %>
                    <img data-src="<%= defaultResources %>/images/portfolio/<%= item.images[0][0] %><%= item.images[0][1] %>" alt="Thumbnail Image">
                    <% } else { %>
                    <img data-src="<%= defaultResources %>/images/portfolio/<%= item.images[0][0] %>_tn<%= item.images[0][1] %>" alt="Thumbnail Image">
                    <% } %>
                  </div>
                </figure>
                <figcaption><%= item.title %></figcaption>
              </a>
              <% }); %>
            <% } %>
          </div>
        </section>
      </article>
    </main>
    <% include includes/template/footer.ejs %>
  </body>

</html>